<div class="user-profiel-nav">
  <nav>
    <ul>
      <li><%= link_to '投稿一覧', user, class: "header-item" %></li>
      <li><%= link_to 'フォロー中', following_user_path, class: "header-item"%></li>
      <li><%= link_to 'フォロワー', follower_user_path, class: "header-item"%></li>
      <li><a href="/users/<%= user.id %>/likes" class="header-item header-last-item">いいね</a></li>
        <div class="clearfix"></div>
    </ul>
  </nav>
</div>
