<%= render "/layouts/header" %>

<h1 id="users">ユーザー一覧</h1>



  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><% if user.img? %>
              <img src='<%= user.img %>' class="icon" alt="ユーザーアイコン">
            <% else %>
              <img src="/assets/default.png" class="icon" alt="ユーザーアイコン" >
            <% end %>
        </td>
        <td><%= link_to user.name, user %>さん</td>
        <td><%= user.content %></td>
      </tr>
    <% end %> 
  </tbody>
</table>