<%= render "/layouts/header" %>

<div class="users-main">
  <div class="users-main-wrapper">
    <%= render_breadcrumbs separator: ' > ' %>
    <p class="users-title">ユーザー一覧（何件か表示する）</p>

    <%= render "list", contents: @users %>
    <div class="users-paginate-bottom"><%= paginate @users %></div>
  
  </div>
</div>