<%= render "/layouts/header" %>

<div class="main">
  <div class="wrapper">
  </div>
</div>



  <div id="users-inner">
    <h1 id="index">ユーザー一覧</h1>
    <% @users.each do |user| %>
      <ul id="users">
        <li class="left-content"><% if user.img? %>
              <img src='<%= user.img %>' class="icon" alt="ユーザーアイコン" width="100" height="100">
            <% else %>
              <img src="/assets/default.png" class="icon" alt="ユーザーアイコン" width="100" height="100">
            <% end %>
        </li>
        <li class="right-content"><%= link_to user.name, user, class: "user-name"%></li>
        <li class="right-content" id="user-content"><%= user.content %></li>
        <div class="clearfix"></div>
      </ul>
    <% end %> 
  </div>