<%= render "/layouts/header" %>

<div class="users-main">
  <div class="users-main-wrapper">

    <%= render "profiel", user: @user %>

    <%= render "navbar", user: @user %>

    <%= render "posts", posts: @user.liked_posts %>
  </div>
</div>