<%= render '/layouts/header' %>

<div class="main">
  <div class="main-wrapper">
    <h1 class="h2 mb-5">プライバシーポリシー</h1>

    <div class="h6 mb-5">
    当サイト運営者（以下「当サイト」といいます。）は個人情報保護の重要性について認識し、
    個人情報の保護に関する法律（以下「個人情報保護法」といいます。）を遵守すると共に、
    以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）に従い、
    適切な取扱い及び保護に努めます。個人情報の取り扱いにおいて、下記のように定めます。</div>

    <div class="term">第1条 (個人情報の定義)</div>
    <div class="privasy-content">「個人情報」とは個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、
     当該情報に含まれる氏名・性別・生年月日・住所・連絡先・その他の記述等により特定の個人を識別できる情報を指します。</div>

    <div class="term">第2条（個人情報の取得について）</div>
    <div class="privasy-content">当サイトでは、ユーザーが会員登録をする際に氏名（ニックネーム）、メールアドレスなどの個人情報をお尋ねすることがあります。</div>

    <div class="term">第3条（個人情報の利用について）</div>
    <div class="privasy-content">個人情報は、法律に基づく命令等を除いて、利用目的の範囲内でのみ利用いたします。
    この範囲を超えて個人情報を利用する必要が生じた場合には、本人から利用目的などについて同意を得るものとします。
    尚、当サイトの個人情報利用の目的は、お問合せへの返信等を行うために利用いたします。</div>

    <div class="term">第4条（個人情報の第三者への開示）</div>
    <div class="privasy-content">当サイトでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。
    ・ご本人のご了解がある場合
    ・法令等への協力のため、開示が必要となる場合 </div>

    <div class="term">第5条（個人情報の開示、訂正、追加、削除、利用停止）</div>
    <div class="privasy-content">ご本人からの個人データの開示、訂正、追加、削除、利用停止をご希望の場合には、
    ご本人であることを確認させていただいた上、速やかに対応させていただきます。</div>

    <div class="term">第6条（アクセス解析ツールについて）</div>
    <div class="privasy-content">当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
    このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
    この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。 </div>
    
    <div class="term">第7条（プライバシーポリシーの変更）</div>
    <div class="privasy-content">本ポリシーの内容は、ユーザーに通知することなく、変更することができるものとします。
    また、変更後のプライバシーポリシーは、本ページに掲載したときから効力が生じるものとします。</div>
  
    <div class="term">第8条（個人情報に関する苦情および情報開示の相談について）</div>
    <div class="privasy-content">本ポリシーに関するお問い合わせは、下記の窓口までお願いいたします。<br>
    【お問い合わせ窓口】<br>
    サイト運営者：松元祐太<br>
    Eメールアドレス：dog.offlead@gmail.com </div>

    <div class="text-right">【令和3年1月18日制定】</div>

  </div>
</div>
