@import "bootstrap";
@import "users";
@import "pages";


/*==========================================================
  HTML5 Doctor Reset CSS
============================================================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*===========================================================
  全体の設定
============================================================*/

body {
  background-color:#fff;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  color: rgb(51, 51,51);
  font-size: 14px;
}

div.clearfix {
  clear: both;
}



/*===========================================================
  フッター
============================================================*/

footer {
  background-color: rgba(247, 226, 217, 0.8);
  height: 150px;
  a#footer-logo {
    position: absolute;
    float: left;
    margin: 40px 0 0 180px;
  }
}

div#footer-inner {
  width: 960px;
  height: auto;
  margin: 0 auto;
  ul {
    list-style: none;
    margin: 70px 300px 0 0; 
    float: right;
    li {
      margin-left: 20px;
      float: left;
      a {
        text-decoration: none;
        color: gray;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

//後で横幅を揃える
div#copyright span {
  display: inline-block;
  color: gray;
  margin: auto;
  position: absolute;
  margin: 120px 0 0 295px;
}

