@import "bootstrap";
@import "users";
// max-width

.mw-md {
  max-width: 576px;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

//共通
div.clearfix {
  clear: both;
}

// ヘッダー

.main {
  background-image: url("4019821_m.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
}


.nav-link {
  list-style-type: none;
  color: black;
  font-weight: lighter; 
  font-size: 15px;
  border-left: 1px solid gray;
  margin-left: 10px;
  margin-bottom: 28px;
  text-align: center;
  flex-grow: 1;
}

.last-item {
  border-right: 1px solid gray;
}

.nav-link:hover {
  color: orange;
  opacity: 0.9;
}

#header-logo {
  margin-left: 15px;
}

#catchphrase {
  display: inline-block;
  letter-spacing: 10px;
  margin: 326px 0 0px 30px;
  font-size: 20px;
  background-color:rgba(153, 153, 153, 0.212);
  height: 80px;
  text-align: center;
  padding: 20px 0 0 20px;
  font-weight: bold;
}

// フッター

footer {
  background-color: rgba(247, 226, 217, 0.8);
  height: 150px;
    a#footer-logo {
      position: absolute;
      float: left;
      margin: 40px 0 0 180px;

    }
}

div#footer-inner {
  width: 960px;
  height: auto;
  margin: 0 auto;
    ul {
      list-style: none;
      margin: 70px 300px 0 0; 
      float: right;
        li {
          margin-left: 20px;
          float: left;
            a {
              text-decoration: none;
              color: gray;
                &:hover {
                  text-decoration: underline;
                }
            }
        }
    }
}

//後で横幅を揃える
div#copyright span {
  display: inline-block;
  color: gray;
  margin: auto;
  position: absolute;
  margin: 120px 0 0 295px;
}

