/*==========================================================
    トップページ
============================================================*/

.home-header {
  width: auto;
  height: 900px;
  background-image: url("4019821_m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .header-wrapper {
    width: 1600px;
    height: 900px;
    margin: 0 auto;
    padding: 0 40px;
    .header-top {
      width: 1440px;
      height: 150px;
      margin: 0 auto;
      padding: 10px;
      .home-header-icon-box {
        float: left;
      }
      .home-header-list-box {
        nav {
          float: right;
          margin: 35px 35px 0 0;
          ul {
            list-style: none;
            li {
              float: left;
              margin-left: 20px;
              border-left: 1px solid gray;
              padding-left: 20px;
              .home-header-last-list {
                display: inline-block;
                border-right: 1px solid gray;
                padding-right: 20px;
              }
              .list-item {
                list-style-type: none;
                color: rgb(51, 51, 51);
                &:hover {
                  color: orange;
                  opacity: 0.9;
                }
              }
            }
          }
        }
      }
    }

    #catchphrase {
      letter-spacing: 10px;
      font-size: 38px;
      background-color:rgba(204, 204, 204, 0.5);
      height: 210px;
      width: 780px;
      text-align: center;
      font-weight: bold;
      margin: 300px 0 0 0px;
      line-height: 60px;
      padding-top: 10px;
      border-radius: 10px;
    }
    #guest-login {
      color: #fff;
      font-size: 20px;
      margin: 0 auto;
      width: 500px;
      margin-top: 150px;
    }  
  }
}



/*==========================================================
    トップページ中央
============================================================*/



.home-main {
  background-color: $sub_color;
  .home-main-wrapper {
    width: $main_width;
    margin: 0 auto;
    padding: 50px;
    .main-top {
      width: 860px;
      height: 230px;
      background-color: rgb(255, 209, 150);
      border-radius: 20px;
      margin: 10px auto;
      padding: 20px;
      .about-offlead {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 3px;
        margin-bottom: 20px;
      }
      .offlead-content {
        font-size: 16px;
        line-height: 26px;
      }
    }
    .main-bottom {
      color: #fff;
      width: 860px;
      height: 200px;
      background-color: rgb(187, 89, 23);
      border-radius: 20px;
      margin: 10px auto;
      padding: 20px;
      .howto {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 3px;
        margin-bottom: 20px;
      }
      .howto-content {
      font-size: 16px;
      line-height: 26px;
      }
    }
  }
}



/*==========================================================
    プライバシーポリシー・利用規約
============================================================*/


.term-main {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  .term-main-wrapper {
    background-color: #fff;
    width: $main_width;
    margin: 0 auto;
    padding: 50px;
    .term-list {
      font-size: 20px;
      line-height: 38px;
      background-color: #e8e8e8;
      font-weight: bold;
      padding-left: 15px;
      border-radius: 5px;
      margin: 20px 0;
    }
    .term-content {
      font-size: 14px;
      line-height: 22px;
    }
  }
}