@import "valiables";

/*===========================================================
  投稿詳細ページ
============================================================*/


.main {
  width: auto;
  .main-wrapper {
    background-color: #fff;
    width: $main_width;
    margin: 0 auto;
    padding: 50px;

    //投稿の詳細
    img#post-user-image {
      margin-left: 50px;
      border-radius: 3px;
    }
    a#post-user-name {
      position: absolute;
      margin: 14px 0 0 14px;
      color: $text_color;
      width: 400;
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        border-bottom: 1px solid $text_color;
      }
    }
    p.post-title-box {
      border-top: 1px solid $border_color;
      padding: 20px 0 0 70px;
      display: block;
      font-size: 28px;
      line-height: 30px;
      margin-top: 20px;
    }
    .post-repeat-box {
      width: 1020px;
      margin: 20px 0;
      position: relative;
      z-index: 1;
      padding-left: 65px; //要素が増えたら解除して調整
      .post-image-box {
        width: 400px;
        height: 400px;
        float: left;
        padding: 5px;
      }
      .post-box-right {
        width: 500px;
        height: 300px;
        float: left;
       
        .like-button {
          float: right;
        }
        .post-content-box {
          background-color: #fff;
          height: 222px;
          width: auto;
          border: 1px solid $border_color;
          border-radius: 10px;
          font-size: 16px;
          line-height: 23px;
          padding: 5px;
          margin-top: 10px;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 8;
          overflow: hidden;
        }
        .post-price-box {
          font-weight: bold;
          color: $price_color;
          float: right;
          border-bottom: 3px solid $price_color;
          font-size: 28px;
          letter-spacing: 5px;
          margin: 60px 15px 0 0;
        }
      }
    }

    //投稿の口コミ一覧
    .review-count {
      height: 30px;
      margin: 0 auto;
      width: 895px;
      line-height: 30px;
      padding-left: 10px;
      margin-top: 10px;
      background-color: $sub_color;
      font-size: 18px;
      border-left: 5px solid $main_color;
    }
    a.new-review-button {
      width: 200px;
      display: block;
      text-decoration: none;
      margin: 20px auto;
    }

    .review-box {
      padding: 5px 0;
      ul {
        list-style-type: none;
        
        .review-repeat-box {
          padding: 10px;
          width: 760px;
          margin: 10px auto 10px auto;
          border: 1px solid $border_color;
          border-radius: 5px;
          .reviewer-box {
            justify-content: space-between;
            border-bottom: 1px solid rgba(160, 160, 160, 0.7);
            // height: 10px;
            img#review-user-icon {
              padding: 0;
              border-radius: 5px;
              margin-right: 5px;
              margin-bottom: 5px;
            }
            a#review-user-name {
              position: absolute;
              margin-top: 8px;
              color: $text_color;
              font-size: 14px;
              text-decoration: none;
              &:hover {
                border-bottom: 1px solid $text_color;
              }
            }
          }
          .star-box {
            justify-content: space-between;
            height: 48px;
            padding-top: 12px;
            border-bottom: 1px solid rgba(199, 199, 199, 0.2);
            #star {
              float: left;
              margin-right: 15px;
            }
            #star-rate {
              color: red;
              font-weight: bold;
              font-size: 24px;
            }
          }
        }
        #review-title {
          font-size: 20px;
          border-bottom: 1px dotted $border_color;
          line-height: 40px;
          font-weight: bold;
          letter-spacing: 1px;
        }
        #review-content {
          line-height: 20px;
          margin: 10px;
        }
      }
    }

    //新規の口コミ投稿画面
    .new-review {
      width: 780px;
      margin: 0 auto;
      border: 1px solid $border_color;
      text-align: center;
      margin-top: 100px;
      .new-review-top {
        text-align: center;
        background-color: $sub_color;
        line-height: 30px;
        border-bottom: 1px solid $border_color;
        
      }
      .new-review-star {
        margin-top: 10px;
        text-align: center;
      }
    }

    //新規投稿画面
    .new-post {
      width: 780px;
      margin: 0 auto;
      border: 1px solid $border_color;
      text-align: center;
      .new-post-top {
        text-align: center;
        background-color: $sub_color;
        line-height: 30px;
        border-bottom: 1px solid $border_color;
        
      }
    }
  }
}

