/*==========================================================
  共通の変数を記述する
============================================================*/


//色の指定
$main_color: #ff8228;
$sub_color: #fff0e7;
$accent_color: #003cff;
$border_color: rgba(160, 160, 160, 0.7);
$text_color: rgb(51, 51,51);
$text_sub_color: rgb(145, 145, 145);

$hover_opacity: 0.8;
$main_width: 1120px;
