<!--footerを記述-->
<footer>
  <div id="footer-inner">
    <a href="/" alt="オフリード" id="footer-logo">
      <%= image_tag "offlead.png", :size => '80x80'%>
    </a>

    <ul>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_path%></li>
      <li><%= mail_to 'dog.offlead@gmail.com', 'お問い合わせ',
          :body => "↓以下にお問い合わせ内容をご記入の上送信してください↓"%></li>
    </ul>

    <div id="copyright">
      <span>© Copyright 2021 オフリード All Rights Reserved.</span>
    </div>
  </div>
</footer>