<!--footerを記述-->
<footer>
  <h2>オフリード</h2>
  <ul>
    <li><a href="#">利用規約</li>
    <li><a href="#">プライバシーポリシー</a></li>
    <li><%= mail_to 'dog.offlead@gmail.com', 'お問い合わせ',
         :body => "↓以下にお問い合わせ内容をご記入の上送信してください↓"%></li>
  </ul>
</footer>